<div class="mx-auto flex w-full max-w-screen-lg flex-col gap-4">
  <h1 class="text-2xl font-semibold">Manage Users</h1>

  <%- include('../components/error-dialog.ejs') %> <%-
  include('../components/processing-dialog.ejs') %>

  <!-- Scriptlet tag for handling users list and maybe pagination? -->
  <script defer>
    const users = JSON.parse(`<%- JSON.stringify(adminUsers) %>`);
  </script>

  <!--  -->
</div>
