<div class="mx-auto my-4 flex w-full max-w-screen-lg flex-col gap-4">
  <h1 class="text-2xl font-bold">Admin Tools</h1>

  <div class="flex w-full flex-col divide-y-2 divide-zinc-400">
    <a class="px-6 py-2 duration-200 hover:bg-zinc-200" href="/admin/categories"
      >Manage Categories</a
    >
    <a class="px-6 py-2 duration-200 hover:bg-zinc-200" href="/admin/tags"
      >Manage Tags</a
    >
    <a class="px-6 py-2 duration-200 hover:bg-zinc-200" href="/admin/users"
      >Manage Users</a
    >
    <a class="px-6 py-2 duration-200 hover:bg-zinc-200" href="/admin/posts"
      >Manage Posts</a
    >
  </div>
</div>
