<main class="flex h-fit min-h-screen flex-col items-center justify-center gap-12 p-6">
  <h1 class="text-center text-3xl font-bold">Login to Your Account</h1>

  <form action="/login" method="POST" class="flex w-full flex-col gap-8 rounded-md md:w-2/3 lg:w-1/2 xl:w-1/3">
    <!-- Username or Email -->
    <div class="flex w-full flex-col">
      <label for="email" class="text-sm font-semibold">Email Address</label>
      <input type="email" id="email" name="email" required placeholder="Enter your email"
        class="h-12 w-full rounded-sm border-2 border-zinc-500 px-4 py-2 outline-none duration-200 focus:border-black" />
    </div>

    <!-- Password -->
    <div class="flex w-full flex-col">
      <label for="password" class="text-sm font-semibold">Password</label>
      <input type="password" id="password" name="password" required placeholder="Enter your password"
        class="h-12 w-full rounded-sm border-2 border-zinc-500 px-4 py-2 outline-none duration-200 focus:border-black" />
    </div>

    <!-- Submit Button -->
    <button type="submit"
      class="flex h-12 items-center justify-center gap-4 border-2 border-black bg-black fill-white font-bold uppercase tracking-tight text-white duration-200 hover:gap-8 hover:bg-white hover:fill-black hover:text-black">
      Login
      <svg xmlns="http://www.w3.org/2000/svg" class="size-4 -translate-y-px" viewBox="0 -960 960 960">
        <path d="M506.26-480.67 312.93-674l62.4-62.41 255.74 255.74-255.74 255.74-62.4-62.4 193.33-193.34Z" />
      </svg>
    </button>

    <!-- Forgot Password -->
    <p class="flex justify-between text-sm">
      <a href="/reset-password" class="text-zinc-500 underline">
        Forgot your password?
      </a>
      <span>
        Don't have an account?
        <a href="/register" class="text-zinc-500 underline">Register</a>.
      </span>
    </p>
  </form>

  <!-- Social Login -->
  <div class="flex w-full flex-col items-center gap-6 md:w-2/3 lg:w-1/2 xl:w-1/3">
    <div class="relative flex w-full items-center justify-center">
      <hr class="absolute top-1/2 -z-10 h-0.5 w-full border-zinc-700" />
      <span class="bg-white px-2 font-medium">or</span>
    </div>

    <div class="flex justify-center gap-4">
      <!-- Google -->
      <a href="/auth/google" class="flex items-center justify-center rounded-md p-2 duration-200 hover:bg-zinc-200">
        <img src="/images/google.svg" class="size-8 object-contain lg:size-12" alt="Google" />
      </a>

      <!-- Facebook -->
      <a href="/auth/facebook" class="flex items-center justify-center rounded-md p-2 duration-200 hover:bg-zinc-200">
        <img src="/images/facebook.svg" class="size-8 object-contain lg:size-12" alt="Facebook" />
      </a>

      <!-- Twitter -->
      <a href="/auth/twitter" class="flex items-center justify-center rounded-md p-2 duration-200 hover:bg-zinc-200">
        <img src="/images/twitter.svg" class="size-8 object-contain lg:size-12" alt="Twitter" />
      </a>

      <!-- GitHub -->
      <a href="/auth/github" class="flex items-center justify-center rounded-md p-2 duration-200 hover:bg-zinc-200">
        <img src="/images/github.svg" class="size-8 object-contain lg:size-12" alt="Github" />
      </a>
    </div>
  </div>
</main>

<script>
  document.querySelector('form').addEventListener('submit', async function () {
      const email = document.querySelector("#email").value;
      const password = document.querySelector("#password").value;
      const response = await fetch(`/login`, {
        method: POST, 
        headers: {
          "Content-Type": "application/json"
        },
        body: JSON.stringify({email,password})
      });
      const result = response.json();
      if (!result) {
        alert("no data found");
      }
      if (response.ok) {
        // Chuyển hướng đến trang dựa trên clearance
        window.location.href = result.redirectUrl;
      } 
    })
</script>