<h2>Set Your New Password</h2>
<form action="/set-new-password" method="POST">
    <input type="hidden" name="email" value="<%= email %>" />
    <input type="password" name="password" placeholder="Enter new password" required />
    <button type="submit">Save Password</button>
</form>
