<meta name="og:title" content="<%= title %>" />
<meta name="og:description" content="<%= description %>" />
<link rel="stylesheet" href="/css/tailwind.css" />
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<header
  class="flex h-12 items-center justify-center bg-white font-playfair shadow-lg"
>
  <h1 class="text-2xl font-black">Online News</h1>
  <!-- Header -->
</header>

<body class="bg-gray-50">
  <main class="h-fit min-h-screen"><%- include(content) %></main>

  <footer
    class="flex h-16 flex-col items-center justify-between gap-8 border-t-2 border-t-zinc-300 p-6 text-center lg:flex-row xl:px-20"
  >
    <p class="text-sm font-semibold text-slate-500">PTUDW Project</p>
    <div
      class="flex flex-col gap-1 text-sm text-slate-700 underline lg:flex-row lg:gap-4"
    >
      <a href="/tos" class="hover:text-sky-500">Terms of Service</a>
      <a href="/privacy" class="hover:text-sky-500">Privacy Policy</a>
      <a href="/contact" class="hover:text-sky-500">Contact Us</a>
    </div>
  </footer>
</body>
