<!-- The dialog box to show that something is being done. -->
<div
  id="processing-dialog"
  class="fixed inset-0 z-50 hidden size-full items-center justify-center bg-black/50 p-6"
>
  <dialog class="flex bg-white p-6 shadow-md">
    <h2 class="text-xl font-semibold">Processing...</h2>
  </dialog>
</div>

<!-- Script for opening/closing processing dialog box -->
<script defer>
  function openProcessingDialog() {
    const el = document.getElementById("processing-dialog");
    el.classList.replace("hidden", "flex");
  }

  function closeProcessingDialog() {
    const el = document.getElementById("processing-dialog");
    el.classList.replace("flex", "hidden");
  }
</script>
